.btn{
    margin-left: 15px;
    margin-bottom: 5px;
    background-color: rgb(57,57,59);
    font-family: 'Bangers', cursive;
    font-size: 20px;
}
#form{
    color: #fff;
    font-family: 'Bangers', cursive;  
    margin-top: 25px;
}
body{
    background-image: url("images/tvbackground.jpg");
}
.jumbotron{
    color: #fff;
    background-color: rgb(57,57,59);
    text-align: center;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 15px;
    font-family: 'Bangers', cursive;
}
.gif{
    width: 200px;
    height: 200px;
    margin-left: 15px;
}
.float-div{
    float: left;
    margin-left: 30px;
}
p{
    margin-left: 15px;
    color: #fff;
    font-family: 'Bangers', cursive;
    font-size: 20px;
}
h1{
    font-size: 54px;
}
label{
    margin-bottom: 0px;
}
.btn{
    border-width: 2px;
    border-color: black;
}
#button-display{
    text-align: center;
}